* {
  margin: 0;
  padding: 0;
}

body {
  font-family: monospace;
  color: #000;
  transition: background-color 1s ease;
}

/* Colour Scroll */

.page {
  min-height: 100vh;
}
.color-yellow {
  background-color: #faf0ca;
}
.color-blue {
  background-color: #0d3b66;
}
.color-white {
  background-color: white;
}

#about {
  height: 100vh;
}


/* Home */

#home {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #0d3b66;
  font-size: 3rem;
}

.icon-container {
  font-size: 1.5rem;
  text-decoration: none;
  margin-top: 20px;
}

.icon-container a {
  color: #0d3b66;
}

.txt-type > .txt {
  border-right: 0.3rem solid white;
  animation: blinkTextCursor 700ms steps(50) infinite normal;
}
@keyframes blinkTextCursor {
  from {
    border-right-color: grey;
  }
  to {
    border-right-color: transparent;
  }
}

/* Arrow */

.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrap img {
  width: 20%;
  object-fit: cover;
  margin-top: 90px;
  margin-bottom: -100px;
}

.bounce {
  animation-iteration-count: infinite;
  animation-duration: 1.5s;
  animation: bounce 3.6s ease infinite;
  transform-origin: 50% 50%;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  5.55556% {
    transform: translateY(0);
  }
  11.11111% {
    transform: translateY(0);
  }
  22.22222% {
    transform: translateY(-15px);
  }
  27.77778% {
    transform: translateY(0);
  }
  33.33333% {
    transform: translateY(-15px);
  }
  44.44444% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

/* Navbar */
#navbar {
  background-color: #0d3b66;
  width: 100%;
  z-index: 9999;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
#navbar a {
  color: #faf0ca;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* About me page */

.container-without-nav {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #faf0ca;
}

.container {
  max-height: 500px;
  max-width: 900px;
  display: flex;
}

.container-right {
  height: 100%;
  align-self: center;
  text-align: justify;
}

.container-right p {
  font-size: 18px;
  line-height: 33px;
  padding: 20px;
}

.container-left {
  height: 100%;
  align-self: center;
}

.container-left img {
  max-height: 300px;
  object-fit: cover;
  border-radius: 50%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* Projects */

#projects {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

.card {
  width: 250px;
  height: 450px;
  margin: 10px;
  text-align: center;
  display: flex;

  flex-direction: column;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(86, 146, 224, 0.2);
}

.card img {
  height: 200px;
  object-fit: cover;
}

.title {
  color: grey;
  font-size: 18px;
}

.project-subtitle {
  font-weight: bold;
  font-size: 14px;
  padding: 10px;
}

.project-text {
  padding: 10px;
  font-size: 12px;
}

.link-container {
  width: 100%;
  position: absolute;
  bottom: 5px;
  left: 0;
}
.link-container a {
  text-decoration: none;
  font-size: 22px;
  padding: 5px;
  color: black;
}

/* Footer */
footer {
  background-color: #0d3b66;
  color: #faf0ca;
  display: flex;
  justify-content: center;
}

footer a {
  text-decoration: none;
  color: #faf0ca;
  font-size: 10px;
  padding: 15px;
}

/* Media Queries */
@media screen and (max-width: 740px) {
  .container {
    flex-wrap: wrap;
    justify-content: center;
  }
  .container-left img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: 180px;
  }
  .container-right p {
    font-size: 12px;
    line-height: 25px;
  }
  #home {
    font-size: 2rem;
  }
  
  .icon-container {
    font-size: 1.1rem;
}

@media screen and (max-height: 320px) and (orientation: landscape) {
  .container-left img {
    height: 150px;
  }
}
