body {
  font-family: "Courier New", Courier, monospace;
  margin: 0px;
}

.light {
  background-color: #faf0ca;
  color: #0d3b66;
}

.dark {
  background-color: #0d3b66;
  color: #faf0ca;
}

.home {
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  max-height: 500px;
  max-width: 900px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.container-left {
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.container-left h1 {
  font-weight: bold;
  font-size: 80px;
}

.container-left p {
  position: relative;
  margin-top: -30px;
  padding-right: 20px;
  font-size: 18px;
  line-height: 33px;
}

.icon-container {
  display: flex;
  width: 50%;
  justify-content: space-between;
  margin-left: 4px;
  padding-top: 20px;
}

.icon-container a {
  color: inherit;
  font-size: 20px;
}

.container-right {
  height: 100%;
}

.container-right img {
  max-height: 80%;
  display: block;
  margin-top: 50px;
  border-radius: 50%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s linear;
}
.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
}

.txt-type > .txt {
  border-right: 0.3rem solid white;
  animation: blinkTextCursor 700ms steps(50) infinite normal;
}
@keyframes blinkTextCursor {
  from {
    border-right-color: grey;
  }
  to {
    border-right-color: transparent;
  }
}

/* Projects */
.projects {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 80px;
  background-color: #0d3b66;
}

.projects h2 {
  font-size: 60px;
  color: #faf0ca;
}

.project-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.project-card {
  max-width: 250px;
  height: 460px;
  margin: 10px;
  background-color: white;
  box-shadow: 5px 5px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-text {
  font-size: 12px;
  text-align: justify;
  text-justify: inter-word;
  padding: 20px;
}

.project-text-bold {
  font-size: 13px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bold;
}

.project-image {
  margin-top: 10px;
  width: 60%;
  border: solid black 2px;
  border-radius: 50%;
}

.socials {
  padding: 10px;
  font-size: 20px;
  text-decoration: none;
}

.socials a {
  color: #0d3b66;
}

/* Media Queries */

@media screen and (max-width: 915px) {
  .container {
    max-height: 295px;
    max-width: 440px;
  }
  .container-right img {
    margin-top: 15%;
  }
  .container-left h1 {
    font-size: 30px;
    margin-top: 40px;
  }
  .container-left p {
    font-size: 10px;
    margin-top: -10px;
    line-height: 15px;
  }
  .icon-container {
    width: 60%;
  }
  .icon-container a {
    margin-left: 4px;
  }
}

@media screen and (max-width: 440px) {
  .container {
    flex-direction: column-reverse;
    align-items: center;
    max-height: 500px;
    max-width: 375px;
  }
  .container-left {
    display: flex;
    align-items: center;
    margin: auto;
  }
  .container-right {
    display: flex;
    justify-content: center;
    width: 200px;
    height: 200px;
    margin: auto;
  }

  .container-right img {
    display: flex;
    align-self: center;
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: 200px;
    margin-top: 0px;
  }
  .container-left p {
    margin-left: 20px;
    margin-right: 10px;
    font-size: 10px;
  }
}
